@font-face { font-family: jagged; src: url('./fonts/Living\ by\ Numbers.otf'); }
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');  

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #398e3d;
    --black: #181a2c;
    --black-t1: #181a2c8e;
    --accent-light: #9ccc9c;
}

body {
    background-color: #000;
    font-family: Lora;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header span {
    font-size: 5.5rem;
    color: var(--accent);
    font-family: jagged;
    pointer-events: none;
    padding-right: 1rem;
}

header p {
    color: white;
    font-size: 1.25rem;
}

.header {
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, var(--black) 10%, var(--black-t1) 50%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-sub {
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, var(--black) 10%, var(--black-t1) 50%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
}

.header-wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    width: 100%;
    max-width: 50rem;
}

.header-left {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0.5rem;
}

.header-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.about-img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: var(--accent);
    margin: 1rem;
    padding: 0.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15rem;
}

.btn-container-sub {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.btn-container button {
    font-size: 1.25rem;
    font-family: Lora;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
    color: var(--accent-light);
    border: 1px solid var(--accent-light);
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.btn-container-sub button {
    font-size: 1rem;
    font-family: Lora;
    margin: 1rem 0.25rem 0.25rem 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
    color: var(--accent-light);
    border: 1px solid var(--accent-light);
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.btn-container button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--accent-light);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-container-sub button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--accent-light);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-container button:hover::before {
    scale: 3;
}

.btn-container-sub button:hover::before {
    scale: 3;
}

.btn-container button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(98, 193, 106, 0.4);
}

.btn-container-sub button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(98, 193, 106, 0.4);
}

.btn-container button:active {
    scale: 1;
}

.btn-container-sub button:active {
    scale: 1;
}

.header-banner {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    background-image: url(./img/home-banner.png);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.about-banner {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    background-image: url(./img/about-banner.png);
    background-position: right;
    background-size: 120%;
    z-index: -1;
}

footer {
    position: fixed;
    font-size: 1rem;
    color: var(--accent-light);
    opacity: 0.25;
    bottom: 6px;
    left: 6px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 99;
    pointer-events: none;
}

.whats-this {
    width: auto;
    height: auto;
    background-color: #000;
    padding: 0.5rem 2rem;
    border-radius: 6px 6px 0 0; 
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 3rem;
    transition: 0.25s;
    cursor: pointer;
}
.whats-this:hover {
    padding: 1rem 3rem;
}

.card {
    width: 100%;
    max-width: 50rem;
    height: auto;
    background-color: #000;
    padding: 2rem 5rem;
    color: var(--accent-light);
}

.card h1 {
    font-weight: normal;
}

.card hr {
    margin: 0.5rem 0 0.75rem 0;
    border-color: var(--accent-light);
}

.card p {
    font-weight: 100;
    font-size: 1.25rem;
}

